@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Olá este é o Cidadania.</h1>
    <p>Uma aplicação sobre fixar em um mapa local pontos de melhoria do cidadão para as autoridades públicas criando um ranking, histórico e interação com outras pessoas. <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

     <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d118206.29994680684!2d-49.942711949999996!3d-22.204125200000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spt-BR!2sbr!4v1733060910905!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

</div>
